@import '~antd/dist/antd.less';

.mgb5 {
  margin-bottom: 5px;
}

.mgl10 {
  margin-left: 10px;
}

.mgr10 {
  margin-right: 10px;
}

.mgt10 {
  margin-top: 10px;
}

.mgb10 {
  margin-bottom: 10px;
}

.fixedend {
  display: flex;
  justify-content: flex-end;
}

.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
}
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th {
  background-color: #ddd;
}
.dropdownStyle {
  height: 300px;
}


.customBadge {
  position: relative;
  span{
    position: absolute;
    right: -15px;
    top: -12px;
    line-height: 20px;
    background-color: #f5222d;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }
}

