.selectRoom {
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 3px;
}
.PropertyFeeDetail1 {
  width: 800px;
  .Property_table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
    td, th {
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding:5px;
      font-size: 12px;
      font-weight: normal;
    }
  }
  .table_title {
    display: flex;
    justify-content: start;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
}