.header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  .badge {
    position: relative;
    span{
      position: absolute;
      right: -15px;
      top: -12px;
      line-height: 20px;
      background-color: #f5222d;
      display: block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      color: #fff;
    }
  }
  .left {
    display: flex;
  }
  .logo {
    width: 220px;
    background-color: #0185e9;
    height: 100%;
  }
  .rightUl {
    display: flex;
    list-style: none;
    
    li {
      list-style: none;
      color: #fff;
      padding: 0 10px;
      cursor: pointer;
      i {
        font-size: 20px;
      }
    }
  }
  .loginInfo {
    line-height: 20px;
    margin: 10px 10px;
    color: #fff;
    p {
      margin-bottom: 5px;
      span {
        margin: 0 5px;
      }
    }
    
  }
}