.login {
  height: 100vh;
  background: url("/images/login-background.png");
  .login_box {
    width: 500px;
    position: fixed;
    padding-top:5%;
    top: 10%;
    right: 10%;
    // .ant-card {
    //   background-color: rgba(255,255,255,0.5);
    // }
    // .ant-card-bordered {
    //   border-color: rgba(255,255,255,0.5);
    // }
    // .ant-input {
    //   background: transparent;
    //   border-color: #fff;
    // }
  }
  .login_logo {
    width: 80px;
    margin: 0px auto 30px;
    display: block;
  }
}